<footer class="container-fluid">
  <div class="row">
    <div class="col-12 box1 text-center ">©Kannapoliz 2023. All Rights Reserved.</div>
    <div class="col-12 col-md-6 box2 d-none">
      <div class="redes d-flex align-items-center justify-content-between">
        Follow us
        <div class="d-flex align-items-center justify-content-between">
          <img class="card" src="./assets/images/icons-logo/igdark.svg">
          <img class="card" src="./assets/images/icons-logo/twitterdark.svg">
          <img class="card" src="./assets/images/icons-logo/ytdark.svg">
        </div>
      </div>
    </div>
  </div>
</footer>
